mat-accordion
{
  width: 80%;
  margin: auto;
  margin-top:30px;

}
mat-expansion-panel
{
 width: 80%;
  margin: auto;
  margin-top:30px;
}
.info-text
{
  text-align:center;
}
.mat-expansion-panel-header

{
 color:blue;
 font-size: 20px;
}
